.logo-back {
    background-image: url(/img/pattern.png);
    width: 600px;
    
}

.logo {
    width: 60%;
}

.booleaner {
    color: rgb(75, 123, 206);
}


.tab-head {
    background-color: rgb(119, 165, 246);
    color: white;
}

.main-table {
   width: 1500px;
   height: 120px;

}

.lightblue{
    background-color: rgba(186, 217, 229, 0.5);
}