main{
    text-align: center;
    width: 80vw;
}

.logo-back {
    width: 2000px;
    height: 150px;
    background-image: url(/img/pattern.png);
    background-size: cover;
    margin-bottom: 30;
}

.logo {
    width: 400px;
    text-align: center;

}


main,h1 {
    margin-bottom: 3px;

}

.photo{
    margin-top: 30px;
}

.booleaner {
   
    color: rgb(75, 123, 206);
}

.photo-source {
   height: 30px;
   margin-bottom: 30px;
}

.list {
    margin-bottom: 30px;
    text-align: left;
}


.tab-head {
    background-color: rgb(119, 165, 246);
    color: white;
}

.main-table {
   width: 1500px;
   height: 120px;
   margin-bottom: 30px;

}

.lightblue{
    background-color: rgba(186, 217, 229, 0.5);
}


footer{
    
    height: 40px;
    background-color: rgb(40, 40, 109);
    color: white;
    text-align: center;
    ;
}

.copyright {
    text-align: center;
}